* {
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bfdbfe;
}

.outline {
    background-color: #EEE;
}

.container {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    width: 60%;
    height: 80%;
    box-shadow: 15px 15px rgb(0, 0, 0, 0.2);
    border-radius: 12px;
}

.form {
    background-color: #60a5fa;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

.form form {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.form form .input-group {
    display: flex;
    flex-direction: column;
}

.form form .input-group label {
    letter-spacing: 3px;
}

.form form .input-group input {
    border: none;
    outline: none;
    color: #1e40af;
    text-align: center;
    border-radius: 10px;
    height: 24px;
}

.form form button {
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    width: 60%;
    height: 24px;
}

.books {
    border-radius: 0 20px 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    padding: 24px;
    gap: 12px;
    overflow: auto;
}

.books .book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    background-color: white;
    border-radius: 10px;
    border-left: 5px solid #1e40af;
    padding: 10px;
    box-shadow: 5px 5px rgb(0, 0, 0, 0.2);
    border-radius: 12px;
}

.books .book >:nth-child(2) {
    color: gray;
}

.books .book >:nth-child(3) {
    color: #60a5fa;
}

.books .book .remove {
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    height: 24px;
    width: 60px;
    align-self: flex-end;
}

.books .book .read-status {
    border: none;
    border-radius: 5px;
    background-color: #2563eb;
    color: white;
    height: 24px;
    width: 60px;
    align-self: flex-end;
}